body{
    background-color:#212121;
    width:auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 80%;
    display: grid;
    text-align: center;
    margin:auto;
}

#name{
    text-align:justify;
    color:#03A9F4;
    font-size: 35px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


h1{
    text-align: left;
    font-size: 35px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2{
    text-align: justify;
    font-size: 20px;
}

.resume{
    height: 100%;
    text-align: left;
    max-width: 800px;
    margin: auto;
}

aside{
    height:100%;
    text-align: justify;
    background-color: #03A9F4;
    width:30%;
    float:left;
}

.infome{
    padding: 10px;
    background-color: white;
    height: auto;
    width:50%;
    float: left;
}

img{
    display: block;
    height:180px;
    width: 180px;
    text-align: center;
    margin: auto;
    border-radius: 50% 50%;
    border: 5px solid #2196F3 ;
}

.picture{
    height: 10%;
    padding-top: 20px;
}

#info1{
    background-color: #263238;
    color:#03A9F4;
    padding: 5px;
    font-size: 20px;
    font-style: thick;
    width:98%;
    text-align: center; 
}

#info2{
    background-color: #263238;
    color:#03A9F4;
    padding: 5px;
    font-size: 20px;
    font-style: thick;
    width:98%;
    text-align: center; 
}

#info3{
    background-color: #263238;
    color:#03A9F4;
    padding: 5px;
    font-size: 20px;
    font-style: thick;
    width:98%;
    text-align: center; 
}


.info4{
    text-align: center;
    height: 10%;
}

.info5{
    height: 40%;
    padding: 5px;
}

.info3{
    height: 30%;
    padding-left: 5px;
}

#hr{
    text-decoration: #03A9F4 underline;
}

.reference{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
    font-size: 100%;
}

.inform{
    text-align: left;
    display:grid;
}

hr{
    color:#03A9F4;
}

.content{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50% 100%;
}

.content2{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50% 100%;
}

.inf{
    display: inline-block;
}

.inf2{
    
    text-align: justify;
}

#inf3{
    margin-left:20px;
    margin-top:-8px;
}

.fas{
    color:#03A9F4;
    font-size: 7px;
    padding: 5px;
    
}

.far{
    color:#03A9F4;
}

.fa-plane, .fa-drum, .fa-paw, .fa-gamepad{
    color:black;
    letter-spacing: auto;
}

#education{
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
}

#experience{
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
}

#reference{
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
}

@media screen and (max-width: 799px){
aside{
width:100%;
float:none;
height:auto;
}

.infome{
width:100%;
float:none;
}

.resume{
    width:100%;
    float:none;
}
}